<%- include('./parts/head'); -%>

<div class="inner admin-page">

    <h1>Welcome Admin!</h1>

    <h2>Loggs:</h2>

    <table class="loggstable">
        <tr>
            <th>IP</th>
            <th>UserName</th>
            <th>Date</th>
            <th>Time</th>
            <th>Action</th>
        </tr>

        <% for (let el = loggsData.length - 1; el >= 0; el--) {
            let thisOne = loggsData[el];
            let hours = thisOne.hour > 9 ? thisOne.hour : "0" + thisOne.hour;
            let mins = thisOne.min > 9 ? thisOne.min : "0" + thisOne.min;
            let secs = thisOne.sec > 9 ? thisOne.sec : "0" + thisOne.sec;
            let ip = thisOne.ip.length > 7 ? thisOne.ip.slice(7) : thisOne.ip;
            %>
        <tr class="<%= thisOne.priority %>">
            <td><%= ip %></td>
            <td><%= thisOne.username %></td>
            <td><%= thisOne.day + "." + thisOne.month + "." + thisOne.year + "." %></td>
            <td><%= hours + ":" + mins + ":" + secs %></td>
            <td><%= thisOne.action %></td>
        </tr>
        <%}; %>

    </table>


    <h2>Users:</h2>
    <% usersData.forEach(el => {
        let log;
        %>
        <%= el %><br>
    <%}); %>

</div>

<%- include('./parts/foot'); -%>